## DataCamp Exploring NYC Public School Test Result Scores

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a maximum score of 800 points. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend.

You have been provided with a dataset called schools.csv, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

## Import and Explore Data

In [1]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

In [2]:
#Exploring the data
print(schools.shape)
print(schools.info())
print(schools.describe())

(375, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   school_name      375 non-null    object
 1   borough          375 non-null    object
 2   building_code    375 non-null    object
 3   average_math     375 non-null    int64
 4   average_reading  375 non-null    int64
 5   average_writing  375 non-null    int64
 6   percent_tested   355 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 20.6+ KB
None
       average_math  average_reading  average_writing  percent_tested
count    375.000000       375.000000       375.000000      355.000000
mean     432.944000       424.504000       418.458667       64.976338
std       71.952373        61.881069        64.548599       18.747634
min      317.000000       302.000000       284.000000       18.500000
25%      386.000000       386.000000       382.000000       50.950000
50%      415.000000       413.000000       403.000000       64.800000
75%      458.500000       445.000000       437.500000       79.600000
max      754.000000       697.000000       693.000000      100.000000

## Task #1

### Which NYC schools have the best math results?


The best math results are at least 80% of the *maximum possible score of 800* for math.

Save your results in a pandas DataFrame called best_math_schools, including "school_name" and "average_math" columns, sorted by "average_math" in descending order.

In [3]:
#Define the target results
target = 800*80/100

#Subset schools by target
best_math_score = schools[schools['average_math'] >= target]

#Assign the schools name sorted by their scores in descending order to best_math_schools
best_math_schools = best_math_score[['school_name','average_math']].sort_values('average_math', ascending = False)

#Print the results
print(best_math_schools )

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

## Task #2
### What are the top 10 performing schools based on the combined SAT scores?

Save your results as a pandas DataFrame called top_10_schools containing the "school_name" and a new column named "total_SAT", with results ordered by "total_SAT" in descending order.

In [4]:
#Creating a total_SAT column
schools['total_SAT'] = schools['average_math'] + schools['average_reading'] + schools['average_writing']

#Sorting by total_SAT descending and storing this to schools_score
schools_score = schools.sort_values('total_SAT', ascending=False)

#Subsetting schools_score by school name and total SAT then choosing the first 10 rows
top_10_schools = schools_score[['school_name','total_SAT']].iloc[0:10]

#Print the results
print(top_10_schools)

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

## Task #3
### Which single borough has the largest standard deviation in the combined SAT score?

Save your results as a pandas DataFrame called largest_std_dev.

The DataFrame should contain one row, with:

    "borough" - the name of the NYC borough with the largest standard deviation of "total_SAT".

    "num_schools" - the number of schools in the borough.

    "average_SAT" - the mean of "total_SAT".
   
    "std_SAT" - the standard deviation of "total_SAT".

Round all numeric values to two decimal places.

In [5]:
#import numpy for the mean
import numpy as np

#Calculate the std, count, and mean rounded by 2 groupedby borough. Then sort by std descending
largest_std_groupby = (round(schools.groupby('borough')['total_SAT'].agg([np.mean, 'std', 'count']).sort_values('std', ascending = False), 2))

#Print the results to apply the calculations
print(largest_std_groupby)

#Create an empty dictionary to assign the values
largest_std_dev  = {
    'borough': [],
    'average_SAT': [],
    'num_schools': [],
    'std_SAT': []
} 

#Assign the results as a list to the dictionary
largest_std_dev['borough'] = ['Manhattan']
largest_std_dev['num_schools'] = [largest_std_groupby.iloc[0, 2]]
largest_std_dev['average_SAT'] = [largest_std_groupby.iloc[0,0]]
largest_std_dev['std_SAT'] = [largest_std_groupby.iloc[0,1]]

#Convert the dictionary to the dataframe
largest_std_dev = pd.DataFrame(largest_std_dev)

#Print the results
print(largest_std_dev)

                  mean     std  count
borough
Manhattan      1340.13  230.29     89
Staten Island  1439.00  222.30     10
Queens         1345.48  195.25     69
Brooklyn       1230.26  154.87    109
Bronx          1202.72  150.39     98
     borough  average_SAT  num_schools  std_SAT
0  Manhattan      1340.13           89   230.29

C:\Users\jagbe\AppData\Local\Temp\ipykernel_17328\7018094.py:5: FutureWarning: The provided callable <function mean at 0x00000218426E5080> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  largest_std_groupby = (round(schools.groupby('borough')['total_SAT'].agg([np.mean, 'std', 'count']).sort_values('std', ascending = False), 2))